# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory - it should be uncommented,
# unfortunately RT will then also exclude it from sending in build context.
# build
